.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &.active {
        color: rgba(254, 44, 85, 1);
        .icon-active {
            display: flex;
        }
        .icon {
            display: none;
        }
    }
}
.icon,
.icon-active {
    display: flex;
}
.icon-active {
    display: none;
}
.title {
    font-size: 1.8rem;
    margin-left: 8px;
    font-weight: 700;
}
