.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-top: var(--defautl-layout-header-hight);
    width: var(--defautl-layout-width);
    display: flex;
    padding: 0 var(--defautl-layout-horizonter-spacer);
}
.content {
    flex: 1;
}
